Gruppe_11/nodered/mauc_flow.json
[
    {
        "id": "f1",
        "type": "tab",
        "label": "MAUC Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mo_spiel",
        "type": "mqtt out",
        "z": "f1",
        "name": "control/spiel",
        "topic": "mauc/gruppe11/control/spiel",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "mo_start",
        "type": "mqtt out",
        "z": "f1",
        "name": "control/start",
        "topic": "mauc/gruppe11/control/start",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "mo_name",
        "type": "mqtt out",
        "z": "f1",
        "name": "control/spieler",
        "topic": "mauc/gruppe11/control/spieler",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "mo_kekse",
        "type": "mqtt out",
        "z": "f1",
        "name": "control/kekse",
        "topic": "mauc/gruppe11/control/kekse",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "mo_wand",
        "type": "mqtt out",
        "z": "f1",
        "name": "control/wand",
        "topic": "mauc/gruppe11/control/wand",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "mi_state",
        "type": "mqtt in",
        "z": "f1",
        "name": "status",
        "topic": "mauc/gruppe11/status",
        "qos": "0",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 420,
        "wires": [
            [
                "t_player",
                "t_points",
                "t_time",
                "t_left"
            ]
        ]
    },
    {
        "id": "mi_imu",
        "type": "mqtt in",
        "z": "f1",
        "name": "imu",
        "topic": "mauc/gruppe11/imu",
        "qos": "0",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "fn_imu"
            ]
        ]
    },
    {
        "id": "fn_imu",
        "type": "function",
        "z": "f1",
        "name": "ax/ay -> Serien",
        "func": "var d = msg.payload || {};\nreturn [ {topic:'ax', payload: Number(d.ax)}, {topic:'ay', payload: Number(d.ay)} ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 560,
        "wires": [
            [
                "chart_imu"
            ]
        ]
    },
    {
        "id": "mi_event",
        "type": "mqtt in",
        "z": "f1",
        "name": "event",
        "topic": "mauc/gruppe11/event",
        "qos": "0",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 680,
        "wires": [
            [
                "fn_event",
                "fn_rounds"
            ]
        ]
    },
    {
        "id": "fn_event",
        "type": "function",
        "z": "f1",
        "name": "Event -> Text",
        "func": "var e = msg.payload || {};\nvar t = new Date().toLocaleTimeString();\nvar line;\nswitch(e.event){\n  case 'start':  line = 'Spiel gestartet (' + e.game + ', ' + e.player + ')'; break;\n  case 'keks': line = 'Keks eingesammelt - Punkte ' + e.score + ', uebrig ' + e.left; break;\n  case 'ende':    line = 'Spielende: ' + e.score + ' Punkte in ' + e.time_s + ' s'; break;\n  case 'status':\n    var map = {\n      menu: 'Menü', running_maze: 'Labyrinth läuft',\n      running_field: 'Freie Fläche läuft', game_over: 'Spielende'\n    };\n    line = 'Status: ' + (map[e.value] || e.value);\n    break;\n  default:       line = JSON.stringify(e);\n}\nmsg.payload = t + '  ' + line;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 660,
        "wires": [
            [
                "tpl_log"
            ]
        ]
    },
    {
        "id": "fn_rounds",
        "type": "function",
        "z": "f1",
        "name": "Runden zaehlen",
        "func": "if (msg.payload && msg.payload.event === 'end') {\n  var c = (flow.get('rounds') || 0) + 1;\n  flow.set('rounds', c);\n  return { payload: c };\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 720,
        "wires": [
            [
                "t_rounds"
            ]
        ]
    },
    {
        "id": "btn_start",
        "type": "ui_button",
        "z": "f1",
        "name": "Start",
        "group": "gControl",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "mo_start"
            ]
        ]
    },
    {
        "id": "dd_spiel",
        "type": "ui_dropdown",
        "z": "f1",
        "name": "Spielwahl",
        "label": "Spiel",
        "tooltip": "",
        "place": "Spiel auswählen",
        "group": "gControl",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Labyrinth",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Frei",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "mo_spiel"
            ]
        ]
    },
    {
        "id": "sl_kekse",
        "type": "ui_slider",
        "z": "f1",
        "name": "Kekse",
        "label": "Kekse",
        "tooltip": "",
        "group": "gControl",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "20",
        "step": "1",
        "className": "",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "mo_kekse"
            ]
        ]
    },
    {
        "id": "sl_wand",
        "type": "ui_slider",
        "z": "f1",
        "name": "Wandstaerke",
        "label": "Wandstaerke (Spiel 1)",
        "tooltip": "",
        "group": "gControl",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "2",
        "max": "6",
        "step": "1",
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "mo_wand"
            ]
        ]
    },
    {
        "id": "ti_name",
        "type": "ui_text_input",
        "z": "f1",
        "name": "Spielername",
        "label": "Spielername",
        "tooltip": "",
        "group": "gControl",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "mo_name"
            ]
        ]
    },
    {
        "id": "t_player",
        "type": "ui_text",
        "z": "f1",
        "group": "gDisplay",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Spieler",
        "label": "Spieler",
        "format": "{{msg.payload.player}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "t_points",
        "type": "ui_text",
        "z": "f1",
        "group": "gDisplay",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Punkte",
        "label": "Punkte",
        "format": "{{msg.payload.points}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "t_time",
        "type": "ui_text",
        "z": "f1",
        "group": "gDisplay",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Zeit",
        "label": "Zeit (s)",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "t_left",
        "type": "ui_text",
        "z": "f1",
        "group": "gDisplay",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Kekse uebrig",
        "label": "Kekse uebrig",
        "format": "{{msg.payload.left}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 500,
        "wires": []
    },
    {
        "id": "t_rounds",
        "type": "ui_text",
        "z": "f1",
        "group": "gDisplay",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Runden",
        "label": "Runden",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "chart_imu",
        "type": "ui_chart",
        "z": "f1",
        "name": "IMU",
        "group": "gImu",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ax / ay (g)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-2",
        "ymax": "2",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "tpl_log",
        "type": "ui_template",
        "z": "f1",
        "group": "gEvents",
        "name": "Log",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"height:240px;overflow-y:auto;font-family:monospace;font-size:12px;line-height:1.5;\">\n  <div ng-repeat=\"l in lines track by $index\">{{l}}</div>\n</div>\n<script>\n(function(scope){\n  scope.lines = scope.lines || [];\n  scope.$watch('msg', function(m){\n    if(!m || m.payload === undefined) return;\n    scope.lines.unshift('' + m.payload);\n    if(scope.lines.length > 15) scope.lines.length = 15;\n  });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "c4358427bff54efe9ba9bcc87d16ab49.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls1",
        "clientid": "nodered-gruppe11",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "gControl",
        "type": "ui_group",
        "name": "Steuerung",
        "tab": "tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gDisplay",
        "type": "ui_group",
        "name": "Anzeige",
        "tab": "tab1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gImu",
        "type": "ui_group",
        "name": "IMU (ax/ay)",
        "tab": "tab1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "gEvents",
        "type": "ui_group",
        "name": "Event-Log",
        "tab": "tab1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tls1",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "MAUC",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8faf30b97aa58680",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]